* {
    box-sizing: border-box;
}

body {
    font-variant: serif;
}

div {
    background-color: white;
}

/*

*/
.instructions {
    background-color: black;
    color: greenyellow;
    font-variant: small-caps;
    font-size:smaller;
    margin: 0 auto;
    padding: 10px;
    /* change to none to switch them off 
    */
    display: block;
}

.area {
    background-color: antiquewhite;
}

p {
    text-indent: 12pt;
    color: darksalmon;
    text-align-last: left;
}

img {
    display: block;
    /* 
    center as needed, auto auto is also possible
    */
    margin: 0 auto;
    padding: 20px;

    background-color: #f0f0f0;

    max-width: 80%;
    height: auto;
}


/* 
New style to be tested 
*/

.fixed_part p {
    text-indent: 12pt;
    color: black;
    font-size: 1em; 
    font-variant: serif;
}

.experimental p {
    text-indent: 12pt;
    color: gray;
    font-size: 2em; 
    font-variant: serif;
}

.isolated p {
    text-indent: 12pt;
    color: greenyellow;
    font-size: 2em; 
    font-variant: serif;
}

/* 
Old part, reuse as needed
 */

 .myheroimage {
     width: 100vw;
     height: 150vh;
     background-image: url(./imgs/torrevelasca.jpg);
     background-position: top center;
     background-size: cover;
 }

 .myherotitle {
     text-indent: 12pt;
     color: darksalmon;
     font-size: 4em;
     /* four times as big as baseline text */
     font-variant: serif;
 }